.left-sidebarm{
    width: 100%;
    box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    transition: box-shadow ease-in-out 0.1s, transform ease-in-out 0.1s;
    transform: translateZ(0);
    box-sizing: border-box;
    font-size: 13px;
    /* padding-left: 50px; */
    justify-content: center;
}

.side-navm{
    min-height: 100vh;
    max-width: 100%;
    position: sticky;
    margin: 50px 0px;
    padding: 20px 0px;
}

.side-nav-divm{
    padding: 10px 0px;

}

.side-nav-divm div{
    padding-left: 10px;
}

.side-nav-linksm{
    text-decoration: none;
    color: #3a3a3a;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    transition: 0.2s;
}

.side-nav-links:hoverm{
    color: black;
}

.active{
    font-weight: bolder;
    background-color: rgb(225, 225, 225);
    border-right: solid 3px #ef8236;
}

@media screen and (min-width:790px){
    .lsb-hide-linksm{
        display: none;
    }
}


