.main-nav{
    min-height: 50px;
    width: 100%;
    margin: 0% auto;
    border-top: solid 3px #ef8236;
    box-shadow: 0px 1px 5px #00000033;
    position: fixed;
    z-index: 5;
    top: 0%;
    left: 0%;
    background-color: #f8f9f9;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar{
    height: 100%;
    min-width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo{
    padding: 5px 20px;
}

.nav-item{
    min-width: fit-content;
    margin: 0px 3px;
    font-size: small;
    font-weight: 500;
    text-decoration: none;
    color: rgb(69,69,69);
    transition: 0.2s;
}

.nav-btn{
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 20px;
}

.nav-item:hover{
    background-color: rgb(226,226,226);
}

.navbar form{
    display: flex;
    flex-grow:1;
    padding: 0px 12px;
    position: relative;
}

.navbar form input {
    min-width: 65%;
    max-width: 90%;
    margin: 0;
    padding: 8px 10px 8px 32px;
    font-size: 13px;
    border:solid 1px #0000003e;
    border-radius: 3px; 
}

.navbar form .search-icon {
    position: absolute;
    left: 20px;
    top: 8px;
}

.nav-links{
    margin-left: 10px;
    padding: 7px 13px;
    border: solid 1px blue;
    border-radius: 3px;
    background-color: #e7f8fe;
    cursor: pointer;
}

.nav-links:hover{
    background-color: #d3e4eb;
}



.nav-bars{
    margin-left: 20px;
    margin-right: 20px;
    float: left;
}

.leftSideBarMenuHide{
    display: none;
}



@media  screen and (max-width: 320px){
    /* .navbar form {
        display: none;
    } */
    .navbar{
        display:contents;
        justify-content: space-between;
    }
    .navbar form{
        margin-right: 2px !important;
    }
    .navbar form input{
        width: 8px !important;
        margin-right: 10px !important;
        flex-grow: 0;
    }
    .avatar{
        margin-left: 5px !important;
    }

 



}

 
@media  screen and (max-width: 460px){
 
    .nav-hide{
        display: none;
    }
    .nav-bars{
        margin-right: 2px;
        margin-left: 2px;
    }

    .navbar form{
        margin-right: 5px;
    }

    .navbar form input{
        width: 25px;
        padding: 8px 5px 8px 32px;
        flex-grow:0;
        margin-right: 10px;
    }
    .avatar{
        margin-right:2px;
        margin-left: 4px;
    }

}

@media  (min-width:460px) and (max-width: 790px){
    
    .nav-hide{
        display: none;
    }

    .navbar form input{
        min-width: 65%;
        flex-grow:2;
    }
    .avatar{
        margin-right:20px;
    }

}

@media  (min-width: 790px) and (max-width: 830px){
    

    .nav-bars{
        display: none;
    }
    .nav-btn{
        padding: 10px 10px;
    }
    
    .avatar{
        margin:5px;
    }

}

@media  (min-width: 830px) and (max-width: 840px){

    .navbar form input {
        min-width: 85%;
        margin: 0;
        padding: 8px 10px 8px 32px;
        font-size: 13px;
        border:solid 1px #0000003e;
        border-radius: 3px; 
    }

    .nav-bars{
        display: none;
    }
   
}

@media screen and (min-width:841px){
    .navbar form input {
        min-width: 85%;
        margin: 0;
        padding: 8px 10px 8px 32px;
        font-size: 13px;
        border:solid 1px #0000003e;
        border-radius: 3px; 
    }

    .nav-bars{
        display: none;
    }

  
}